<%= form_for(@archive) do |f| %>
  <% if @archive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@archive.errors.count, "error") %> prohibited this archive from being saved:</h2>

      <ul>
      <% @archive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :audio %><br>
    <%= f.file_field :audio %>
  </div>
  <div class="field">
    <%= f.label :date_dif %><br>
    <%= f.text_field :date_dif %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :animateur %><br>
    <%= f.text_field :animateur %>
  </div>
  <div class="field">
    <%= f.label :guest %><br>
    <%= f.text_field :guest %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
